PyQt6==6.8.1
opencv-python==4.11.0.86
pydirectinput==1.0.4
pygetwindow>=0.0.9
keyboard==0.13.5
packaging==24.2
requests==2.32.3
torch==2.6.0
torchvision==0.21.0
ultralytics==8.3.82
pywin32; platform_system == "Windows"
python-dotenv==1.0.1
mss==9.0.1
pillow==11.1.0
psutil==7.0.0
